
/*primo esercizio*/
.ex-1-square{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}

.ex-1-square:hover{
    background-color: red;
}
/*fine primo esercizio*/

/*secondo esercizio*/
.ex-2-square{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 3s;
}

.ex-2-square:active{
    width: 100%
}
/*fine secondo esercizio*/

/*terzo esercizio*/
.ex-3-square{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: border-radius 1.5s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/*fine terzo esercizio*/

/*quarto esercizio*/
.ex-4-square{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: opacity 1s;
}

.ex-4-square:hover{
    opacity: 0;
}

/*fine terzo esercizio*/

/*quinto esercizio*/
.ex-5-square{
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 20px;
    transition: width, height, 2s;
}

.ex-5-square:hover{
    margin: 0px;
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    margin: 20px;
    width: 20px;
    height: 20px;
}

/*fine quinto esercizio*/

/*sesto esercizio*/

.ex-6-img{
    width: 500px;
    height: 300px;
}

.ex-6-img:hover{
 filter: grayscale(80%);
}

/*fine sesto esercizio*/

/*settimo esercizio*/

.ex-7-img{
    width: 500px;
    height: 300px;
    transition: all 2s;
}

.ex-7-img:hover{
 filter: grayscale(1);
}

.ex-7-img:hover{
    filter: sepia(0.4);
   }

/*fine settimo esercizio*/

/*ottavo esercizio*/
.ex-8-img{
    width: 500px;
    height: 300px;
    transition: all 2s;
}

.ex-8-img:hover{
 filter: sepia(0.5);
 border-radius: 30px;
}

.ex-8-img:hover{
    filter: saturate(0.5)
}

/*fine ottavo esercizio*/