
/*primo esercizio*/
.ex-1-square{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}

.ex-1-square:hover{
    background-color: red;
}
/*fine primo esercizio*/

/*secondo esercizio*/
.ex-2-square{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 3s;
}

.ex-2-square:active{
    width: 100%
}
/*fine secondo esercizio*/